black~=23.1.0
flake8~=5.0.4
isort~=5.11.5
flake8-isort~=6.0.0
mypy==0.991
mypy-extensions~=0.4.3
pytest~=7.2.1
pytest-cov~=4.0.0
dataclasses==0.6; python_version<"3.7"
opencv-python-headless~=4.7.0.68